p, li {
    font-size:large;
}

.reveal h1 { font-size: 3em; }
.reveal h2 { font-size: 3.11em; }
.reveal h3 { font-size: 3.55em; }
.reveal h4 { font-size: 2em;    }

.reveal p, .reveal li {
    font-size: 1.5em;
    line-height: 1.5em;
}
.reveal .roll {
    line-height: 1.5em;
}
